---
import { getCollection } from 'astro:content';

const arts = await getCollection('art')

---

    <h1 class="text-6xl font-extrabold mb-3">
        Conectá con la naturaleza
      <span class="block"> a través del arte en acuarela</span>
    </h1>

    <p class="mb-12">
      Cada obra es una invitación a viajar y explorar el mundo desde una mirada creativa, 
      <span class="block">creada con pasión y un profundo vínculo con los paisajes y culturas locales.</span>
    </p>

  <section aria-label="Obras destacadas" >
    <div class="px-4 mx-auto max-w-screen-xl">
      <div class="grid gap-6 md:grid-cols-2">
          { arts.map ((ilustration) =>(
            <article class="flex">
              <a href={`/art/${ilustration.slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
                      <img src={ilustration.data.img} alt={ilustration.data.title} class="mr-8 w-48 w-full-rounded-lg"/>
                </a>
                <div class="flex flex-col justify-center">
                    <h2 class="mb-2 text-2xl font-bold leading-tight">{ilustration.data.title}</h2> 
                    <p class="mb-4 max-w-sm">{ilustration.data.description}</p>
                    <span class="text-xs">{ilustration.data.dimensions}</span>
                </div>
            </article>
          ))}
    </div>
    </div>
  </section>

