---
import {getCollection} from "astro:content";
import Layout from '../../layouts/Layout.astro';

//devuelve las rutas con la informacion de cada una
export async function getStaticPaths() {
  const portfolio= await getCollection("portfolio")

  return portfolio.map((portfolio)=>({
    params: {id:portfolio.slug},
    props: {portfolio}
  }))

}
const {portfolio} = Astro.props
const {data}= portfolio
const {title}= data

---

<Layout>
    <h1>{title}</h1>
</Layout>